body  {
    background-image: url(/home/eclipse/Documentos/Proyecto/imgfond/fdd.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}
#opcion li{
    list-style-type:lower-latin;
    margin: 15px;
    padding: 15px;
    overflow: hidden;
    float: left;
    display: block;
    text-align: center;
    text-decoration:solid;
}


.descarga1 {
    position: relative; top: -35px;
    float: left;
    margin: 25px;
    padding: 10px;
    width: 200px;
}
.descarga2 {
    position: relative; 
    float: left;
    margin: 50px;
    padding: 10px;
    width: 200px;
}

#novedades {
    
    position:relative; top: 10px; left: 150px; 
   
}
#section1 {
    width: 400px;
    padding: 15px;
    margin: 20px;
    float: left;
    border-right: thick solid gray;
    border-left: thick solid gray;
    left: 2%;
    text-align: justify;
    position:relative; top: -30px;
    font-family: 'EB Garamond', serif;
}
#section2 {
    width: 400px;
    padding: 15px;
    margin: 20px;
    float: left;
    border-left: thick solid gray;
    border-right: thick solid gray;
    left: 2%;
    text-align:justify;
    position:relative; top: -30px;
    font-family: 'EB Garamond', serif;
}
.h3{
    position: static;top: -50px;
    text-align: center;
}